!!!
html
head
body
  p a node.js skeleton for serving bits-hit-fan
    li 
      a(href="/tkfoo") /tkfoo (admin token)
    li 
      a(href="/tkbar") /tkbar (view token)
    li 
      a(href="/12345") /12345 (nonexistant token)


